/*-<< components >>-*/

a {
  text-decoration: none;
  color: black;
}

/*-<< layouts >>-*/

.page {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 100px repeat(12, 1fr);
  grid-gap: 16px;
}

.news {
  grid-row: span 12;
  grid-column: span 12;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;

  padding: 16px 0px;
}

.news > .post {
  grid-column: span 12;

  display: grid;
  grid-template-columns: 100px repeat(11, 1fr);
  grid-template-rows: 100px auto;
  grid-gap: 16px;
}

.post > .bullet {
  grid-row: 1;
  grid-column: 1;

  border: 1px dashed black;
  text-align: center;
  line-height: 100px;
}

.post > .label {
  grid-row: 1;
  grid-column: 2 / 12;

  text-align: center;
  line-height: 100px;
}

.post > .content {
  grid-row: 2;
  grid-column: 2 / 12;

  min-height: 250px;

  border: 1px dashed black;
  padding: 16px;
}

.landing {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-<< components >>-*/
.sidebar {
  grid-column: 1;
  grid-row: span 12;

  display: grid;
  grid-template-rows: 100px repeat(11, 1fr);

  border-right: 1px solid black;
}

.sidebar > .item {
  max-height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar > .active {
  text-decoration: underline;
}

/*-<< text >>-*/
.t-med {
  font-size: 18pt;
}

.t-slant {
  font-family: 'Orator Slanted';
}

.t-spaced {
  letter-spacing: 5px;
}
